@import "~bulma/sass/utilities/_all.sass";

// Bulma varialbe MUST stay between botth import
$primary: #E4003A;
$blue: #1F2951;
$lightgrey: #F2F2F2;
$white:  #FEFEFE

$body-family: "Montserrat";

@import "~bulma/bulma";